body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin-top: 20px;
}

a {
  text-decoration: none;
}
.btn{
  margin: 0 5px;
}

.col_resumen{
  background-color: #e3e3e3;
}

.col_resumen h5{
  text-align: center;
  margin-top: 15px;
}
.totalCosto{
  text-align: right;
}
.table>thead {
  background-color: rgb(0 0 0 / 13%);
}
.no-service{
  text-align: center;
  background-color:#dedede ;
}
.text-car {
  background: #add9d92e;
  margin-bottom: 0;
  padding: 15px;
}